@screen-edge-horizontal-margin__mobile: 16px;

@horizontal-margin__mobile: 16px;

@toolbar-height__mobile: 56px;

@title-bar-height__mobile: 72px;

@list-item-height__mobile: 72px;

@content-vertical-spacing__mobile: 8px;
