@dark_theme_background: #303030;
@dark_theme_card_background: #424242;
@dark_theme_dialog_background: @dark_theme_card_background;

@text_primary: #FFF;

@breakpoint_phone: 959px;
@breakpoint_tablet: 960px;

.vertical-padding {
  padding-top: 20px;
}

.vertical-padding-large {
  padding-top: 72px;
}

body {
  background-color: @dark_theme_background;
  color: @text_primary;
}

.layout {
  &__row {
    width: 100%;
    margin: 0;
  }

  @media only screen and (min-width: @breakpoint_tablet) {
    &__col-left {
      float: left;
      width: 300px;
      min-height: 100vh;
      position: fixed;
    }

    &__col-right {
      margin-left: 300px;
    }
  }
}

.layout-appbar {
  width: 100%;
  position: fixed;

  @media only screen and (min-width: @breakpoint_tablet) {
    &__menu-button {
      display: none;
    }

    & &__title {
      margin-left: 8px;
    }
  }
}

.layout-sidebar {
  padding: 0 16px;
  z-index: 1;

  &__app-bar-gap {
    height: 64px;
  }

  &--theme-dark {
    background-color: @dark_theme_dialog_background;
  }

  @media only screen and (max-width: @breakpoint_tablet) {
    display: none;
  }
}

.main-content {
  padding-top: 34px;

  &--small-hide {
    @media only screen and (max-width: @breakpoint_phone) {
      display: none;
    }
  }

  &--medium-hide {
    @media only screen and (min-width: @breakpoint_tablet) {
      display: none;
    }
  }
}

.list {
  & &__icon {
    color: @text_primary;
    margin-right: 8px !important;
  }

  & &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & &__input {
    width: 100%;
  }

  &--compact {
    .list__title {
      min-height: 48px;
      padding: 0 16px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.sidenav {
  &--theme-dark {
    .md-sidenav-content {
      background-color: @dark_theme_dialog_background !important;
    }
  }
}

.fab {
  position: fixed !important;
  z-index: 1;

  @media only screen and (min-width: @breakpoint_tablet) {
    transform: inherit !important;
    top: 88px;
    left: 264px !important;
  }

  & &__icon {
    color: @text_primary;
  }
}
